.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 $m-size;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container__min {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}