.create-post-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.create-post {
  display: flex;
  flex-direction: column;
  padding: $m-size;
  text-align: center;
}

.create-post__input {
  background: $dark-blue;
  border: none;
  color: $off-white;
  padding: $s-size;
  border-bottom: .3rem solid darken($dark-blue, 10%); 
  margin: $m-size;
  flex-grow: 1;
  text-align: center;
}

@media (min-width: $desktop-breakpoint) {
  .create-post {
    flex-direction: row;
  }

  .create-post__input {
    margin: 0 $s-size 0 0;
  }
}